{% extends "account/base.html" %} {% load i18n %} {% block head_title %}{% trans
"Sign Out" %}{% endblock %} {% block content %}

<h2 class="my-5 h2 text-center"><b>Sign Out</b></h2>

<p class="my-5 h4 text-center">
  {% trans 'Are you sure you want to sign out?' %}
</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %} {% if redirect_field_value %}
  <input
    type="hidden"
    name="{{ redirect_field_name }}"
    value="{{ redirect_field_value }}"
  />
  {% endif %}
  <div class="text-center">
    <button
      class="btn btn-secondary btn-md waves-effect mb-2 site-btn"
      type="submit"
    >
      {% trans 'Sign Out' %}
    </button>
  </div>
</form>

{% endblock %}
