{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

	  <h2 class="my-5 h2 text-center"><b>{% trans "Password Reset" %}</b></h2>
    {% if user.is_authenticated %}

    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

 
	<p class="my-3 h6 text-center">
 {% trans "Forgotten your password? Enter your Email address below, and we'll send you an Email allowing you to reset it" %}
	</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset text-center">
        {% csrf_token %}
        {{ form.as_p }}
        <button
        class="btn btn-secondary btn-md waves-effect mb-3 mt-3 site-btn"
        type="submit"
      >
      {% trans 'Reset My Password' %}
      </button>
    </form>

    <p class="mt-4 h6 text-center">{% blocktrans %}Please {% endblocktrans %}<a href="{% url 'core:contact' %}">contact us</a> {% blocktrans %}if you have any trouble resetting your password {% endblocktrans %}</p>
{% endblock %}
	