<!--used for loading the cart count logic here in navbar-->
{% load cart_template_tags %}

<!-- Page Preloder -->
<!-- <div id="preloder">
  <div class="loader"></div>
</div> -->

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
  <div class="offcanvas__close">+</div>
  <ul class="offcanvas__widget" style="margin-right: 23px; text-align: right;">
    <li><span class="icon_search search-switch    "></span></li>
    {% if request.user.is_authenticated %}
    <li>
      <a href="{% url 'core:wishlist-summary' %}"
        ><span class="icon_heart_alt"></span>
        <!-- <div class="tip"><span></span></div> -->
      </a>
    </li>
    <li>
      <a href="{% url 'core:order-summary' %}"> 
        <span class="icon_bag_alt"></span>
        <div class="tip"><span>{{request.user|cart_item_count}}</span></div>
      </a>
    </li> 
    {% endif %}
  </ul>
  <div class="offcanvas__logo">
    <a href="{% url 'core:home' %}"
      ><span
        style="
          font-family: 'Butterfly Kids', cursive;
          color: black;
          font-size: 50px;
        "
        >Yander</span
      ></a
    >
  </div>
  <div id="mobile-menu-wrap"></div>
  <div class="offcanvas__auth">
    {% if request.user.is_authenticated %}
    <a href="{% url 'account_logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'account_login' %}">Login</a>
    <a href="{% url 'account_signup' %}">Register</a>
    {% endif %}
  </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-3 col-lg-2">
        <div class="header__logo p-0 mt-2 pl-1">
          <a href="{% url 'core:home' %}"
            ><span
              style="
                font-family: 'Butterfly Kids', cursive;
                color: black;
                font-size: 50px;
              "
              >Yander</span
            ></a
          >
        </div>
      </div>
      <div class="col-xl-6 col-lg-7">
        <nav class="header__menu">
          <ul>
            <li class="active"><a href="{% url 'core:home' %}">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Clothing</a>
              <ul class="dropdown">
                <li>
                  <a href="./product-details.html">Shawls</a>
                </li>
                <li><a href="./checkout.html">Gowns</a></li>
                <li><a href="./blog-details.html">Scarfs</a></li>
              </ul></li>
              <li><a href="#">Decor</a></li>
            <li>
              <a href="#">Food</a>
              <ul class="dropdown">
                <li>
                  <a href="./product-details.html">Saffron</a>
                </li>
                <li><a href="./shop-cart.html">Honey</a></li>
                <li><a href="./checkout.html">Dry Fruits</a></li>
                <li><a href="./blog-details.html">More  </a></li>
              </ul>
            </li>
            
            <li><a href="{% url 'core:contact' %}">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div class="header__right">
          {% if request.user.is_authenticated %}
          <ul class="header__right__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li>
              <a href="{% url 'core:wishlist-summary' %}"
                ><span class="icon_heart_alt"></span>
                <!-- <div class="tip"></div> -->
              </a>
            </li>
            <li>
              <a href="{% url 'core:order-summary' %}"
               class= ><span class="icon_bag_alt"></span>
                <div class="tip">{% if request.user|cart_item_count == None %}<span>0</span>{% else %}<span>{{request.user|cart_item_count}}</span>{% endif %}</div>
              </a>
            </li>
          </ul>
          <div class="header__right__auth pl-4">
            <a href="{% url 'account_logout' %}">Logout</a>
          </div>
          {% else %}
          <div class="header__right__auth">
            <a href="{% url 'account_login' %}">Login</a>
            <a href="{% url 'account_signup' %}">Register</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="canvas__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
<!-- Header Section End -->
