{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__links">
          <a href="{% url 'core:home' %}"><i class="fa fa-home"></i> Home</a>
          <span>Refund Request Section</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->
{% if request.user.is_authenticated %}
<!--Main layout-->
<main>
  <div class="container mt-4">
    <div class="table-responsive text-nowrap">
      <h2 style="text-align: center;">Your Request Is Important</h2>
      <hr />
      <br />

      <form method="POST" action=".">
        {% csrf_token%} {{ form|crispy }}
        <button
          class="btn btn-secondary btn-lg btn-block site-btn mt-2"
          type="submit"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</main>
<!--Main layout-->
{% else %}
<p class="my-5 h4 text-center">
  You need to be Logged In first
</p>
{% endif %} {% endblock content %}
