{% load static %}

<!-- Js Plugins -->
<script src="{% static 'core/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'core/js/bootstrap.min.js' %}"></script>
<script src="{% static 'core/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'core/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'core/js/mixitup.min.js' %}"></script>
<script src="{% static 'core/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'core/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'core/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'core/js/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'core/js/main.js' %}"></script>
